@import "";

img.app-logo {
  background: url(https://amchemproducts.com/wp-content/uploads/new-logo-symbol_white-transparent.png) no-repeat;
  display: block;
  box-sizing: border-box;
  width: 42px;
  height: 24px;
  padding-left: 200px;
  background-size: 38px 24px;
}

/* Change navigation bar colour */
.navbar.navbar-default.navbar-fixed-top {
    background: #365f2b;
}

nav.navbar-nav.navbar-right {
  background: #f6f6f6;
}
